@page "/"

<ConsoleComponent/>
<footer>This site is currently under construction in public 🏗️ Check back soon, and please connect/follow <a href="https://www.linkedin.com/in/christa-bridges/">my LinkedIn</a> for any updates!</footer>